upstream fastcgi_backend {
   # use tcp connection
   # server  127.0.0.1:9000;
   # or socket
   server  unix:/run/php/php7.0-fpm.sock;
}
server {
   listen 80;
   server_name {{ data.vm.hostname_base }};
   set $MAGE_ROOT {{ data.vm.mage_root }};
   include {{ data.vm.mage_root }}/nginx.conf.sample;
}
